{% extends 'base.html' %}

{% block title %}
	Home
{% endblock %}

{% block js %}
	<script src='https://maps.google.com/maps/api/js?sensor=false'></script>
	<script src='/static/js/maphandler.js'></script>
{% endblock js %}

{% block main-content %}
	<div class='fleft ui-corner-left'>
		<input id='mh-address' class='input-search ui-corner-left' type='textbox'
		onkeydown='if (event.keyCode == 13) document.getElementById("mh-go").click()'>
		<input type='button' id='mh-go' value='Go'>
	</div>
	<div id='map-canvas' class='ui-helper-clearfix ui-corner-left' style='width:100%; height:100%; float:left'></div>
	<script type='text/javascript'>
		$("#mh-go").button();
		var MapHandler = MapHandler();
		//window.onload = MapHandler.initialize();
		//window.onload = MapHandler.init();
		MapHandler.init();
		MapHandler.markers();
	</script>
{% endblock %}
