#header {
	height: 50px;
	background-color: #666;
	margin-bottom: 10px;
}

#nav {
	float: left;
	width: 230px;
	height: 150px;
	background-color: #999;
	margin-bottom: 10px;
}

#main {
	margin: 0 0 10px 250px;
	height: 768px;
	background-color: #999;
}

#footer {
	clear: both;
	height: 50px;
	background-color: #666;
	margin-bottom: 10px;
}
