body {
	background-color: #F2EFE9;
	background: -moz-linear-gradient(bottom, #F2EFE9, #FEFEFE);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#F2EFE9), to(#FEFEFE));
}

#header {
	height: 50px;
	background-color: #666;
	margin-bottom: 10px;
}

#nav {
	float: left;
	width: 230px;
	height: 150px;
	background-color: #999;
}

#main {
	margin: 0 0 0 250px;
	height: 768px;
	background-color: #999;
}

#footer {
	clear: both;
	height: 50px;
	background-color: #666;
	margin-bottom: 10px;
}

.fleft {
	float: left;
	margin-left: 10px;
}

.fright {
	float: right;
	margin-right: 10px;
}

.input-search {
	padding: 0.5em;
	margin: 0.5em;
	width: 30em;
}
